/* SWIPE CONTAINER */
.planSwipe {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 0 20px 0; /* 🔥 ALT BOŞLUK EKLEDİK */
  scroll-snap-type: x mandatory;
  margin-bottom: 20px; /* 👈 EN ÖNEMLİSİ */
  border-bottom: 1px solid rgba(255,255,255,0.05); /* 👈 ince çizgi */
}


/* WRAP */
.swipeWrap {
  display: flex;
  gap: 12px;
  padding: 0 16px;
}

/* CARD */
.swipeCard {
  background: var(--card-bg);
  border-radius: 20px;
  flex-shrink: 0;
  min-width: 98%;
  max-width: 98%;
  scroll-snap-align: center;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  height: 240px; /* SABİT KART */
  overflow: hidden;
  box-shadow: var(--shadow);
  
}

/* TEXT */
.swipeCard div {
  white-space: normal;
  word-break: break-word;
}

/* HAFTA */
.swipeCard .week {
  font-size: 12px;
  opacity: .7;
}

/* ÜNİTE */
.swipeCard .unit {
  font-weight: 600;
  margin-top: 4px;
}

/* KONU */
.swipeCard .topic {
  font-size: 13px;
  opacity: .9;
}

/* KAZANIM */
.swipeCard .gain {
  font-size: 12px;
  margin-top: 4px;
}

/* AÇIKLAMA (KISALTMA) */
.swipeCard .desc {
  font-size: 12px;
  opacity: .8;
  margin-top: 6px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardHeader {
  background: linear-gradient(135deg, #ff7a00, #ff9a2a);
  color: white;
   
  padding: 10px;
  font-weight: 600;
  text-align: center;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cardBody {
  padding: 10px 12px 4px; /* 👈 ALT BOŞLUK AZALT */
  overflow-y: auto;
  flex: 1;
}
.label {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 8px;
}

.value {
  font-size: 14px;
  font-weight: 500;
}
.cardBody::-webkit-scrollbar {
  width: 4px;
}

.cardBody::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}
.planSwipe::after {
  content: "";
  display: block;
  
  background: linear-gradient(to bottom, transparent, #020617);
}

.planTitle {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 8px 0 6px 16px;
  opacity: 0.65;
  padding-left: 16px;
  margin-bottom: 8px;
  position: relative;
  margin-left: 16px;
}
.planTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #ff8a1f; /* senin turuncu */
  border-radius: 2px;
}
#lessonScreen .card {
  padding: 8px; /* 14 → 10 */
}

#lessonScreen .card-head {
  font-size: 13px;
  line-height: 1.1;
  gap: 8px; /* 12 → 8 */
}

#lessonScreen .arrow {
  font-size: 22px; /* 32 → 22 */
}
